<head>
  
    <title>Projectible Analytics</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/node_modules/jquery/dist/jquery.min.js" ></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" ></script> 
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
      
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/sidebar/css/sidebar.css" />  
    <link rel="stylesheet" type="text/css" href="/static/main/css/main.css" />   
  
</head>

<!-- https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js -->
<!-- https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css -->
<!-- /node_modules/bootstrap/dist/js/bootstrap.min.js -->
<!-- /node_modules/bootstrap/dist/css/bootstrap.min.css -->
