<div id="chartsRowBody">
    <h3> Charts </h3>
    </br>

    <div class="row">
        
        <div class="col-lg-4 center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="weeklyUsers" width="400" height="350"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-4 center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Currently</h4>
                    <h1 style="font-size: 800%;">12</h1>
                    Active visitors in your world
                    <canvas id="currentUserType" width="400" height="125"></canvas>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-lg-4 center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="monthlyUsers" width="400" height="350"></canvas>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        
        <div class="col-lg-3 center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="weeklyUserRatio" width="400" height="500"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 style="font-size: 500%;">9,145</h1>
                    <span style="font-size: 125%; color: #89BFDD;">Users </span>
                    <span style="font-size: 125%; color: #969696;">this year</span>
                </div>
            </div>
        </div>

        <div class="col-lg-3 center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="yearlyBrowserUse" width="400" height="500"></canvas>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="row">
        
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Test Panel
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Test Panel
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Test Panel
                </div>
            </div>
        </div>

    </div> -->

    <script src="static/charts.js"></script>

</div>

<div id="heatmapRowBody" style="display: none;">
    <h3> Heatmap </h3>
    </br>

    <div class="panel panel-default">
        <div class="panel-body">
            Under construction!
        </div>
    </div>

</div>

<div id="settingsRowBody" style="display: none;">
    <h3> Settings </h3>
    </br>

    <div class="row">

        <div class="col-lg-6">
            <div class="panel panel-info"> 
                <div class="panel-heading"> 
                    <h3 class="panel-title">Worlds</h3> 
                </div> 
                <div class="panel-body"> 
                    Available worlds etc panel here
                </div> 
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-info"> 
                <div class="panel-heading"> 
                    <h3 class="panel-title">Account</h3> 
                </div> 
                <div class="panel-body"> 
                    All account settings
                </div> 
            </div>
        </div>

    </div>

</div>

