<div id="wrapper" class="toggled">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <a href="#menu-toggle" id="menu-toggle">
            <div class="row">
                <div class="col-md-3 my-auto">
                <li>
                    <i class="fa fa-bars fa-1x" aria-hidden="true"></i>
                </li>
                </div>
                <div class="col-md-7">
                <li>
                    Menu
                </li>
                </div>
            </div>
            </a>

            </br>
            </br>
            </br>

            <a href="#charts" id="charts">
            <div class="row" id="chartsRow">
                <div class="col-md-3 my-auto">
                <li>
                    <i class="fa fa-area-chart fa-1x" aria-hidden="true"></i>
                </li>
                </div>
                <div class="col-md-7">
                <li>
                    Charts
                </li>
                </div>
            </div>
            </a>

            </br>

            <a href="#heatmap" id="heatmap">
            <div class="row" id="heatmapRow">
                <div class="col-md-3 my-auto">
                <li>
                    <i class="fa fa-fire fa-1x" aria-hidden="true"></i>
                </li>
                </div>
                <div class="col-md-7">
                <li>
                    Heatmap
                </li>
                </div>
            </div>
            </a>

            </br>

            <a href="#settings" id="settings">
            <div class="row" id="settingsRow">
                <div class="col-md-3 my-auto">
                <li>
                    <i class="fa fa-cog fa-1x" aria-hidden="true"></i>
                </li>
                </div>
                <div class="col-md-7">
                <li>
                    Settings
                </li>
                </div>
            </div>
            </a>

        </ul>
    </div>
        
    <script src="static/sidebar.js"></script>
    
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {{template "body.tmpl.html"}}
        </div>
    </div>

</div>